body {
  background: rgb(101, 99, 99);
}
.App {
  text-align: center;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.input {
  width: 300px;
  height: 30px;
  border-radius: 10px;
}
.input2 {
  width: 300px;
  height: 30px;
  border-radius: 10px;
}
.input-edit {
  width: 300px;
  height: 30px;
  border-radius: 10px;
}
.input-edit2 {
  width: 300px;
  height: 30px;
  border-radius: 10px;
}
.create {
  width: 620px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.delete {
  width: 100px;
  height: 30px;
  border-radius: 10px;
}
.edit {
  width: 100px;
  height: 30px;
  margin-left: 30px;
  border-radius: 10px;
}
.Link {
  font-size: 20px;
  color: white;
  text-decoration: underline;
}
.create-bar{
  background: rgb(84, 84, 84);
}
p {
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.back{
  background: transparent;
  border: none;
  color: white;
  position: relative;
  margin-left:-600px;
}
.post {
  margin: 0 auto;
  max-width: 700px;
  background: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  filter: drop-shadow(0px 5px 25px rgba(0, 0, 0, 0.15));
  margin-top: 15px;
}
.onepost {
  margin: 0 auto;
  max-width: 700px;
  background: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 10px;
  margin-top: 100px;
  filter: drop-shadow(0px 5px 85px rgba(0, 0, 0, 0.35));
}
.onepost-title {
  color: white;
}
